@model QLHS_Admin.Models.RoomVM

@{
    ViewData["Title"] = "Add New Room";
}

<div class="row grid-margin">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Room.RoomType_ID" class="control-label">Room Type</label>
                        <select asp-for="Room.RoomType_ID" asp-items="@(new SelectList(Model.RoomTypes,"RoomType_ID","RoomType_Name"))" class="form-control" ></select>
                        <span asp-validation-for="Room.RoomType_ID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Room.Fac_ID" class="control-label">Facility</label>
                        <select asp-for="Room.Fac_ID" asp-items="@(new SelectList(Model.Facilities,"Fac_ID","Fac_Name"))" class="form-control" ></select>
                        <span asp-validation-for="Room.Fac_ID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Room.Room_Status" class="control-label">Status</label>
                        <input disabled value="0" asp-for="Room.Room_Status" class="form-control" />
                        <span asp-validation-for="Room.Room_Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Room.Room_Img" class="control-label">Image</label>
                        <input asp-for="Room.Room_Img" class="form-control" />
                        <span asp-validation-for="Room.Room_Img" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <button class="btn btn-secondary" asp-action="Index">Back to List</button>
                    </div>
                </form>
            </div>
        </div>

        

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
