@model QLHS_Admin.Models.Facility

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Facility</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fac_Name" class="control-label"></label>
                <input asp-for="Fac_Name" class="form-control" />
                <span asp-validation-for="Fac_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fac_Address" class="control-label"></label>
                <input asp-for="Fac_Address" class="form-control" />
                <span asp-validation-for="Fac_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fac_Phone" class="control-label"></label>
                <input asp-for="Fac_Phone" class="form-control" />
                <span asp-validation-for="Fac_Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fac_Desc" class="control-label"></label>
                <input asp-for="Fac_Desc" class="form-control" />
                <span asp-validation-for="Fac_Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fac_Latitude" class="control-label"></label>
                <input asp-for="Fac_Latitude" class="form-control" />
                <span asp-validation-for="Fac_Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fac_Longitude" class="control-label"></label>
                <input asp-for="Fac_Longitude" class="form-control" />
                <span asp-validation-for="Fac_Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fac_Rating" class="control-label"></label>
                <input asp-for="Fac_Rating" class="form-control" />
                <span asp-validation-for="Fac_Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fac_Img" class="control-label"></label>
                <input asp-for="Fac_Img" class="form-control" />
                <span asp-validation-for="Fac_Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
