
@{
    ViewData["Title"] = "Index";
}

<div class="row mt-2">
    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
        <h2 class="mb-5">About us</h2>
    </div>
</div>
<div class="row">
    <div class="container my-3">
        <div class="row align-items-center">
            <div class="col-md-4 mb-5 mb-md-5">

                <div class="img-border">

                    <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-9/106534262_1594884764005658_5922541016386665494_n.jpg?_nc_cat=102&_nc_sid=85a577&_nc_ohc=_NZFK8ngIEMAX_WZ6SR&_nc_ht=scontent.fvca1-1.fna&oh=47085b37f032cc23776d9a4b404c31ae&oe=5F289BFF"
                         alt="" class="img-fluid">
                    </a>
                </div>

                <img src="https://scontent.fvca1-2.fna.fbcdn.net/v/t1.0-9/p960x960/78433242_2368025826860587_9056651353568313344_o.jpg?_nc_cat=104&_nc_sid=7aed08&_nc_ohc=qesYaqsuiWUAX-FvjOd&_nc_ht=scontent.fvca1-2.fna&_nc_tp=6&oh=67082ddce69f5e1cc9536d93fcea1a57&oe=5F2A2EA7"
                     alt="Image" class="img-fluid image-absolute">

            </div>
            <div class="col-md-7 ml-auto">
                <div class="section-heading text-left">
                    <h2 class="mb-5">DO HUU LUONG</h2>
                </div>
                <p class="mb-4"> <i class="fa fa-envelope" aria-hidden="true"></i> 17520103@gmail.com</p>
                <p class="mb-4">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <a href="https://www.facebook.com/nnlnphlvl">Đỗ Hữu Lượng</a>
                </p>
                <p class="mb-4">
                    <i class="fa fa-map-marker"> Linh Trung, Thu Duc, Ho Chi Minh</i>
                </p>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-4 mb-5 mb-md-5">

                <div class="img-border">

                    <img src="https://scontent.fvca1-2.fna.fbcdn.net/v/t1.0-9/p960x960/78433242_2368025826860587_9056651353568313344_o.jpg?_nc_cat=104&_nc_sid=7aed08&_nc_ohc=qesYaqsuiWUAX-FvjOd&_nc_ht=scontent.fvca1-2.fna&_nc_tp=6&oh=67082ddce69f5e1cc9536d93fcea1a57&oe=5F2A2EA7"
                         alt="" class="img-fluid">
                    </a>
                </div>

                <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-9/106534262_1594884764005658_5922541016386665494_n.jpg?_nc_cat=102&_nc_sid=85a577&_nc_ohc=_NZFK8ngIEMAX_WZ6SR&_nc_ht=scontent.fvca1-1.fna&oh=47085b37f032cc23776d9a4b404c31ae&oe=5F289BFF"
                     alt="Image" class="img-fluid image-absolute">

            </div>

            <div class="col-md-7 ml-auto">
                <div class="section-heading text-left">
                    <h2 class="mb-5">LE MINH QUOC</h2>
                </div>
                <p class="mb-4"> <i class="fa fa-envelope" aria-hidden="true"></i> 17520956@gmail.com</p>
                <p class="mb-4">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <a href="https://www.facebook.com/momgiaxauxi149">Minh Quốc</a>
                </p>
                <p class="mb-4">
                    <i class="fa fa-map-marker"> Linh Trung, Thu Duc, Ho Chi Minh</i>
                </p>

            </div>
        </div>
    </div>
</div>